main {
  font: monospace;
}

h1, h2 {
  color: white;
  font-size: 35px;
  padding-top: 2%;
  text-align: left;
  padding-left: 1%;
  padding-right: 20%;
  font-family: 'Julius Sans One', sans-serif;
  padding-bottom: 80%;
  display: block;
}

#to-top {
  position: fixed;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60); 
  font-weight: bold;
  color: black;
  margin-left: 80%;
}

.transbox {
    margin-top: 0px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); 
    height: 100px;
    width: 100%;
    padding-left: 3%;
    padding-top: 2%;
  
}

.transbox {
    font-weight: bold;
  }

#background {
  background-image: url("https://image.ibb.co/h6C7c5/boxer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
}
@media only screen and (max-width: 500px) {
 #background{ height: 300px}
}
#submit {
  align-content: right;
  background-color: green;
  color: white;
  font: 13px Helvetica, Tahoma, serif;
  border-radius: 6px;
}

a {
  text-decoration: none;
}
 
#map {
  margin-left: 5%;
  margin-right: 5%;
  height: 425px;
  width: 88%;
  border: 5px solid orange;
}

#map-border {
  box-sizing: border-box;
  background-color: black;
  opacity: 0.6;
  filter: alpha(opacity=60); 
  background: cover;
  padding-top: 2%;
  padding-bottom: 4%;
  padding-left: 5%;
  padding-right: 5%;
}
 
#advanced-options {
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 70%;
    align-content: flex-start;
    font-weight: bold;
    background-color: white;
    color: black;
  }

form {
  background-color: white;
}

#finder{
  margin-right: 10%;
  position:absolute;
  top: 0;
  right: 0;
  margin-top: 2%;
  font-weight: bold;
}

.nav {
    display: block;
    font: 13px Helvetica, Tahoma, serif;
    text-transform: uppercase;
    margin: 0; 
    padding: 0;
}

.nav li {
    display: block;
    list-style: none;
}

.nav .button-dropdown {
    position: relative;
}

.nav li a {
    display: inline-block;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.nav li a span {
    display: inline-block;
    margin-left: 5px;
    font-size: 20%;
    color: #999;
}

.nav li a:hover, .nav li a.dropdown-toggle.active {
    background-color: #289dcc;
    color: #fff;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
    color: #fff;
}

.nav li .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
}

.nav li .dropdown-menu.active {
    display: block;
}

.nav li .dropdown-menu a {
    width: 150px;
}

h4 {
  text-align: center;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
}

h3 {
  margin-top: 3%;
  text-decoration: underline;
  background-color: orange;
  height: 12%;
  width: 100%;
  text-align: center;
}

#dog-info-template{
  background-color: white;
}

.card-image{
  box-sizing: border-box;
}

.profile-image {
  box-sizing: border-box;
  border: 2px black;
}

#petfinderInfo, #dog-template, p, span {
  box-sizing: border-box;
  height: 20%;
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  word-spacing: normal;
  text-align: center;
}



#name {
  font: 50px;
  color: red;
  margin-bottom: 3%;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;

}

 #js-description {
  font-weight: bold;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}

#detail {
  display: hidden;

}

.more {
    display: none;
    padding-top: 10px;
}

.card {
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
  height: 500px;
}

.card-image {
  width: 100%;
}

.card-content {
  padding: 20px;
}

/*.card-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}*/

.card-content p {
  margin: 0.5em 0;
}
